.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  padding: 5px;
  grid-area: header;
  background-color: rgb(235, 235, 235);
}
.header p {
  margin: 10px auto;
  font-weight: bold;
  font-size: 30px;
  align-self: center;
}
.header img {
  margin-left: 5%;
  cursor: pointer;
  width:20px;
  height:20px;
  margin-top: 15px;
}
.loginBlock{
  float: right;
  margin-top: 10px;
}
.loginBlock a{
  color: black;
  margin-right: 20px;
  margin-top: 20px;
  font-size:20px;
  text-decoration: none;
}