img.bg {
    width: 100%;
    height: 100px;
    opacity: 0.8;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: black;
    text-decoration: underline;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}